#pizzaOrder {
  display: none;
}

#confirmation {
  display: none;
}

.menu {
  font-family: cursive;
}

#headings, #pizzaSelection {
  text-align: center;
}

div#pizzaOrder {
  text-align: left;
}

div#order {
  border: 2px;
  font-style: italic;
}
